.breadcrump {
  color: #207dff;
}

.container {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  margin-bottom: 20px;

  @media (min-width: 1024px) {
    flex-direction: row;
    align-items: flex-start;
  }
}

.image {
  width: 100%;
  margin-bottom: 5px;
  align-self: center;
  border: 1px solid #e8e8e8;
  padding: 10px;

  @media (min-width: 1024px) {
    width: 500px;
    margin-right: 15px;
    align-self: auto;
  }
}

.content {
  max-width: 450px;
}

.name {
  font-size: 32px;
  font-weight: 400;
}

.brand {
  font-size: 20px;
  color: #8b8b8b;
  margin-bottom: 8px;
}

.description {
  color: #8c92a0;
  line-height: 1.7;
  font-weight: 300;
  margin-bottom: 24px;
  word-break: break-word;
}

.price {
  font-size: 24px;
  color: #207dff;
  margin-bottom: 16px;
}

.form {
  margin-bottom: 48px;
}

.label {
  font-size: 18px;
  margin-right: 5px;
}

.select {
  width: 40px;
}

.stockWarning {
  color: #ff3220;
}

.button {
  margin-top: 48px;
  width: fit-content;

  &Active {
    pointer-events: none;

    & button {
      background-color: #207dff86;
    }
  }
}

.reviewsWrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: 1024px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.customerReview {
  border: 1px solid #f0f0f0;
  border-top: 2px solid #000000;
  padding: 15px;
  width: 100%;

  &:last-child {
    margin-top: 10px;
    margin-left: 0px;

    @media (min-width: 1024px) {
      margin-top: 0;
      margin-left: 10px;
      width: fit-content;
    }
  }

  &Title {
    font-weight: 300;
  }

  & * {
    margin-bottom: 10px;
  }
}

.review {
  background-color: #f9f9f9;
  padding: 5px;
}

.stars {
  color: #ffd900;
}

.comment {
  font-weight: 300;
}

.error {
  font-size: 14px;
  color: #ff2020;
  margin-bottom: 5px;
}

.input {
  font-size: 14px;
  height: 34px;
  padding: 6px 10px;
  border: 1px solid #f0f0f0;
}

textarea.input {
  height: 70px;
  resize: none;
}
