.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f9f9f9;
  text-align: center;
  padding: 10px;

  @media print {
    display: none;
  }
}

.link {
  color: #207dff;
}

.moscowLove {
  padding-top: 3px;
  font-weight: 300;
}

.heart {
  cursor: pointer;
  color: rgb(182, 62, 101);
}
