.profileScreenWrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: 1024px) {
    flex-direction: row;
  }
}

.userInfo {
  display: flex;
  flex-direction: column;
  align-self: center;
  border: 1px solid #f0f0f0;
  border-top: 2px solid #000000;
  padding: 15px;
  margin-bottom: 20px;

  @media (min-width: 768px) {
    width: 630px;
  }

  @media (min-width: 1024px) {
    margin-right: 20px;
    max-width: 320px;
  }

  & button {
    width: 100%;
    padding: 10px;
  }

  & button[type='submit'] {
    margin-bottom: 15px;
  }

  & button[type='button'] {
    background-color: #ff2020;
  }
}

.title {
  font-weight: 300;
  margin-bottom: 30px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.error {
  font-size: 14px;
  color: #ff2020;
  margin-bottom: 5px;
}

.success {
  font-size: 14px;
  margin-bottom: 5px;
  color: #02d12f;
}

.label {
  font-size: 14px;
  color: #555555;
}

.input {
  width: 100%;
  max-width: 800px;
  font-size: 14px;
  height: 34px;
  padding: 6px 10px;
  border: 1px solid #f0f0f0;
  margin-top: 3px;

  &:not(:last-of-type) {
    margin-bottom: 15px;
  }
}

.advice {
  font-size: 14px;
  margin-bottom: 15px;
}

.editButtonWrapper {
  width: 100%;
}

.ordersTitle {
  font-weight: 300;
  margin-bottom: 15px;
}
