.title {
  font-weight: 300;
  margin-bottom: 30px;
}

.tableWrapper {
  position: relative;
  margin-bottom: 20px;
}

.tableScroll {
  overflow: auto;
}

.table {
  border-collapse: collapse;
  width: 100%;
  overflow: auto;
}

.rowItems {
  border: 1px solid #f0f0f0;
  text-align: left;
  padding: 8px;
  text-align: center;
}

.info {
  font-size: 24px;
  text-decoration: none;
  color: #207dff;
}

.logoutButton {
  & button {
    background-color: #ff2020;
  }
}
