* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

@page {
  size: auto;
  margin: 0mm;
}

.rccs {
  font-family: 'Rubik', sans-serif !important;
  display: none;

  @media (min-width: 768px) {
    display: block;
    margin-bottom: 10px;
  }

  @media (min-width: 1024px) {
    margin-left: 0;
  }
}
