.title {
  font-weight: 300;
  margin-bottom: 30px;
}

.addProductBox {
  border: 1px solid #f0f0f0;
  border-top: 2px solid #000000;
  padding: 15px;
  margin-bottom: 30px;

  &Title {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 15px;

    @media (min-width: 768px) {
      font-size: 22px;
    }
  }
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.success {
  font-size: 14px;
  margin-bottom: 5px;
  color: #02d12f;
}

.error {
  font-size: 14px;
  color: #ff2020;
  margin-bottom: 5px;
}

.label {
  font-size: 14px;
  color: #555555;
}

.input {
  background-color: #ffffff;
  width: 100%;
  font-size: 14px;
  height: 34px;
  padding: 6px 10px;
  border: 1px solid #f0f0f0;
  margin-top: 3px;
  margin-bottom: 15px;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &[type='number'] {
    -moz-appearance: textfield;
  }
}

textarea.input {
  height: 70px;
  resize: none;
}

.image {
  width: 100px;
  margin-bottom: 15px;
}

.logoutButton {
  & button {
    background-color: #ff2020;
  }
}
